:host {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 10px;
  background-color: rgb(39, 39, 39);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.prod-image {
  width: 100px;
  border-radius: 5px;
  height: auto;
}

.prod-info {
  display: flex;
  flex-direction: column;
}

.total-price {
  margin-left: auto;
  align-self: flex-end;
}