<h2>Keyboard Sale</h2>

<div>
  <label for="new-keyboard">Keyboard name: </label>
  <input id="new-keyboard" #keyboardName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(keyboardName.value); keyboardName.value=''">
    Add keyboard
  </button>
</div>

<ul class="keyboards">
  <li *ngFor="let keyboard of keyboards">
    <a routerLink="/detail/{{keyboard.id}}">
      <span class="badge">{{keyboard.id}}</span> {{keyboard.name}}
    </a>
    <button type="button" class="delete" title="delete keyboard"
      (click)="delete(keyboard)">x</button>
  </li>
</ul>