:host {
  display: flex;
  flex-direction: row;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(102, 22, 181);
  padding: 5px 10px 5px 10px;
  align-items: center;
}

.name {
  text-align: center;
  margin-right: auto;
  height: auto;
}
