<a class="name" [routerLink]="['/']">Keyboard EStore</a>
<app-search *ngIf="router.url == '/'"></app-search>

<div class="items" *ngIf="(loggedInUser$ | async) as loggedInUser">
  <a *ngIf="(loggedInUser | notNullOrEmpty) && loggedInUser.role != 0" class="item" routerLink="/cart">Cart - {{ loggedInUser.cart.length }} Items</a>
  <a *ngIf="!(loggedInUser | notNullOrEmpty)" class="item" routerLink="/login" [queryParams]="{ returnURL: router.url }">Login</a>
  <a *ngIf="loggedInUser | notNullOrEmpty" class="item" routerLink="/" (click)="processLogout()">Logout: {{ loggedInUser.name }} </a>
</div>