<app-navbar></app-navbar>

<div class="content" *ngIf="keyboard | notNullOrEmpty">
  <img class="img" src="../../../assets/{{ keyboard.id % 9 == 0 ? 9 : keyboard.id % 9 }}.webp" alt="Keyboard Image" />
  <div class="details">
    <h1>{{ keyboard.name }}</h1>
    <h3>Price: ${{ keyboard.price | number: '1.2' }}</h3>
    <p class="description">
     {{ keyboard.description }} 
    </p>

    <div class="add-to-cart-interaction">
      <app-quantity class="{{ keyboard.quantity === 0 ? 'disabled' : '' }}" (quantityModified)="quantityChanged($event)" [quantity]="keyboard.quantity"></app-quantity>
      <app-add-to-cart [keyboard]="keyboard" [quantity]="quantity"></app-add-to-cart>
    </div>
  </div>
</div>