.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;

  transition: background-color 0.1s ease-in;
}

.container:hover {
  background-color: rgb(39, 39, 39);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.img {
  height: 125px;
  width: auto;
  border-radius: 10px;
}

.prodStock {
  top: 12.5px;
  right: 15px;
  font-size: 12px;
  color: white;
  position: absolute;
}

.cancel {
  top: 12.5px;
  left: 15px;
  width: 20px;
  position: absolute;
  cursor: pointer;
}

.prodName {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.prodPrice {
  font-size: 14px;
  text-align: center;
}

.prodPrice:not(:last-child) {
  margin-bottom: 10px;
}

.add {
  appearance: none;
  border: none;
  margin-top: 10px;

  background-color: blueviolet;
  padding: 7.5px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}