:host {
  display: contents;
}

.item-row td:first-child {
  padding-left: 5px;
}

.item-row td:last-child {
  padding-right: 5px;
}

.product-image {
  width: 100px;
  border-radius: 5px;
}

.item-image {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.item-data {
  text-align: center;
  vertical-align: middle;
}

.item-data div {
  display: flex;
  justify-content: center;
}

.item-row td { 
  padding: 5px 0px; 
}

.cancel {
  cursor: pointer;
}