:host {
  display: contents;
}

.item-row td:first-child {
  padding-left: 5px;
}

.item-row td:last-child {
  padding-right: 5px;
}

.product-image {
  width: 100px;
  border-radius: 5px;
}

.product-label {
  display: flex;
  flex-direction: column;
}

.custom-info {
  font-size: 12px;
}

.item-image {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.item-data {
  text-align: center;
  vertical-align: middle;
}

.centering {
  display: flex;
  justify-content: center;
}

.out-of-stock {
  background-color: rgb(39, 39, 39);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.item-row td { 
  padding: 5px 0px; 
}

.cancel {
  cursor: pointer;
}