<tr class="item-row {{ cartItem.outOfStock ? 'out-of-stock': '' }}">
  <td class="item-image">
    <img class="product-image" src="../../../assets/{{ cartItem.keyboard.id % 9 }}.webp">
    <p>{{ cartItem.keyboard.name }}</p>
  </td>
  <td class="item-data">
    <div class="centering">
      <app-quantity-selector *ngIf="!cartItem.outOfStock" [maxQuantity]="cartItem.keyboard.quantity" [initialQuantity]="cartItem.quantity" (quantityChanged)="quantityChanged($event)"></app-quantity-selector>
      <p *ngIf="cartItem.outOfStock">{{ cartItem.quantity }}</p>
    </div>
  </td>
  <td class="item-data">${{ cartItem.keyboard.price | number: '1.2' }}</td>
  <td class="item-data">${{ calculateItemPrice() | number: '1.2' }}</td>
  <td class="item-data">
    <div>
      <img class="cancel" src="../../../assets/x-circle.svg" alt="Delete Item" (click)="quantityChanged(0)" /> 
    </div>
  </td>
</tr>