:host {
  display: flex;
  align-content: center;
}

.search {
  appearance: none;
  background-color: transparent;
  font-size: 14px;
  border: 1px solid rgb(208, 207, 207);
  border-radius: 7.5px;

  margin: 5px;
  padding: 5px;
  width: 275px;
}