:host {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-content: center;
}

.control-item {
  width: 100px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.control-item:hover {
  background-color: rgba(54, 17, 89, 0.5);
}

.control-item.selected {
  background-color: blueviolet;
}