<p *ngIf="anyOutOfStock" class="oos-notification"><b>Important:</b> The highlighted items in your cart are currently out of stock or there is insufficient inventory to satisfy your purchase. They will be avaialable for purchase when they are restocked. In the meantime, you can still purchase the remaining items.</p>

<table class="cart-table">
  <tr>
    <th>Product Details</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total</th>
    <th></th>
  </tr> 

  <tr> 
    <td colspan="5" class="hr"> <hr /> </td>      
  </tr>

  <app-cart-item *ngFor="let cartItem of cartItems; trackBy: identifyCartItem" [cartItem]="cartItem"></app-cart-item>
</table>

<div *ngIf="shouldShowCheckout()" class="checkout">
  <div class="preview">
    <p>{{ getTotalQuantity() }} Purchasable Items</p>
    <p>Total: ${{ getTotalPrice() | number: '1.2' }}</p>
  </div>
  <button class="proceed-to-checkout" [routerLink]="['/checkout']" [state]="{ cart: getInStockItems() }">Proceed to Checkout</button>
</div>

<p class="cart-empty" *ngIf="cartItems.length == 0">You have nothing in your cart!</p>
